@import url('https://fonts.googleapis.com/css2?family=Genos:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container  {
    width: 1130px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}
