.statistic {
    padding-top: 100px;

    &__wrapper {
        height: 700px;
    }

    &__base-text {
        font-size: 23px;
    }

    &__view-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 50px;
    }

    &__view {
        cursor: pointer;
        padding: 15px;
        font-size: 30px;
        width: fit-content;
        background-color: rgb(205, 205, 205);

        &.active {
            background-color: #6095EA;
            font-weight: 500;
            color: white
        }
    }

    &__table {
        border-collapse: collapse;
        padding: 10px;
        border: 1px solid black;

        th {
            background-color: rgb(232, 232, 232);
            border: 1px solid black;
            padding: 10px 20px; 
        }

        td {
            border: 1px solid black;
            padding: 20px;
            text-align: center;
        }
    }

    
    
}
