@import "./../App/vars";

.exercise {
    padding: 60px 30px;
    color: #fff;
    
    .exercise__wrapper {
        display: flex;
    }
    .exercise__level {
        text-align: center;
        width: 300px;
        height: fit-content;
        font-size: 25px;
        margin-right: 60px;
    }

    .exercise__difficult {
        padding: 20px;
        background-color: #c7c4c4;
        margin-bottom: 20px;
    }

    .exercise__difficult:last-child {
        margin-bottom: 0;
    }

    .active {
        background-color: $brand-color;
        font-weight: 700;
    }

    .exercise__container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .exercise__title {
        height: fit-content;
        color: #000;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-left: 360px;
    }
}