.input {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	border: 3px solid transparent;
	border-bottom: 1px dotted #000;
	outline: none;
	
	font-family: 'PT Mono', monospace;
	font-size: 18px;
	
	transition: all 0.1s ease-in;
}

.input.blur {
	border: 3px solid black;
}

.input.error {
	background-color: #FFF000;
}