@import "./../../App/vars";

.site-instruction {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    margin-top: 100px;
    border: 1px solid $brand-color;

    &__title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__list {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
            font-size: 18px;

            a {
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    

    &__section {
        font-size: 18px;

        h2 {
            color: $brand-color;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 30px;
        }

        img {
            display: block;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }

}

.arrow {

    &__anchor-wrapper {
        cursor: pointer;
        position: fixed;
        right: 30px;
        bottom: 30px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $brand-color;
    }

    &__anchor {
        position: relative;
        display: block;
        height: 30px;
        width: 3px;
        background-color: white;
        
        &::before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            border-top: 3px solid white;
            border-right: 3px solid white;
            transform: rotate(-45deg);
            top: 0px;
            right: -6px;
        }
    }
}