.instruction {
    padding: 50px;
    font-size: 18px;

    &__title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 30px;
        line-height: 30px;
    }

    &__list {
        list-style: decimal;

        li {
            margin-bottom: 10px;
        }
        
    }
    p {
        margin-bottom: 15px;
    }

    &__list li {
        margin-bottom: 10px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}